/*
TODO(you): Write any additional styles you need here.
*/
.flashcard-box .word {
    animation:begin 0.5s;
}

@keyframes back{
    to{
        transform:translate(0px,0px) rotate(0deg);
    }
 }

@keyframes rotate{
   from{
       transform:translateX(0);
   }
   to{
       transform:translateX(100%);
   }
}
